[Oo]bj/
[Bb]in/
.vs/
.vscode/
.idea/
*.xap
*.user
/TestResults
*.suo
*.cache
*.docstates
_ReSharper.*
*.csproj.user
*[Rr]e[Ss]harper.user
_ReSharper.*/
packages/*
artifacts/*
msbuild.log
PublishProfiles/
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
Thumbs.db
*.ncrunchsolution
*.log
*.vspx
/.symbols
nuget.exe
!build-tools/NuGet.exe
build/
!build-tools/KoreBuild/build/
.nuget/
*net45.csproj
*k10.csproj
App_Data/
bower_components
node_modules
*.sln.ide



tools/*
!tools/packages.config
